.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 60%;
    position: absolute;
    background-color: rgb(29, 29, 29);
}

.output-text{
    color: white;
    font-size: 0.7em;
    background-color: rgb(60, 61, 61);
    padding: 10px;
    margin: 10px;
}